{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-outline btn-sm m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop-newRecipe">
      Add Recipe
    </button>

    <table class="table table-sm" id="recipesTable">
      <thead>
        <tr>
          <th>N</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="tbody">
      </tbody>
    </table>
  </div>

  {% include 'newModal.html' %}

  {% include 'editModal.html' %}

  {% include 'deleteModal.html' %}

  <div class="modal fade" id="modalDetail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" id="modalDetailContent">
        <div class="modal-header">
          <h4 class="modal-title" id="modalTitle"></h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5>Ingredients</h5>
            <ul id="ingredients"></ul>
            <h5>Instructions</h5>
            <div id="instructions"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
  <script>
    var recetas = []              // declaraciones         //
    // fetch devuelve una promise
    setRecipes('/api/recipes')

    function setRecipes(url) {
      fetch(url)           // GET por defecto,
      .then(res => res.json())        // respuesta en json, otra promise
      .then(data => {                // arrow function
        recetas = []
        let i = 0
        let html_str = ''
        data.forEach(fila => {     // bucle ES6, arrow function
              i++
              recetas.push(fila)      // se guardan para después sacar cada una             
              // ES6 templates
              html_str += `<tr>
                            <td>${i}</td>
                            <td>
                                <span onclick="detalle(${i-1})" type="button"
                                      data-bs-toggle="modal" data-bs-target="#detailModal">
                                ${fila.name}
                            </span>
                      </td>
                      <td>
                      <button type="button" class="btn btn-warning btn-sm" onclick="editModal(${i-1})">Edit</button>
                      <button type="button" class="btn btn-danger btn-sm" onclick="deleteModal(${i-1})">Delete</button>
                      </td>
                      </tr>`         // ES6 templates
          });

          document.getElementById('tbody').innerHTML = html_str
      })
    }

    function detalle(i) { 
      let modal = new bootstrap.Modal(document.getElementById('modalDetail'))
      modal.show();

      let receta = recetas[i];
      document.getElementById('modalTitle').innerHTML = receta.name;
        
      document.getElementById('ingredients').innerHTML = ""

      receta.ingredients.forEach(ingredient => {
        let li = document.createElement("li");
        li.appendChild(document.createTextNode(ingredient.name));

        document.getElementById('ingredients').append(li);
      })
      
      document.getElementById('instructions').innerHTML = ""

      receta.instructions.forEach(instruction => {
        let p = document.createElement("p");
        p.innerHTML = "- " + instruction;
        document.getElementById('instructions').append(p);
      })
    }

    function saveRecipe(){
      let nameInput = document.getElementById("nameInput")
      let recipeName = nameInput.value

      let componentsInput = document.getElementById("componentsInput")
      let recipeComponents = componentsInput.value.split("\n")

      let instructionsInput = document.getElementById("instructionsInput")
      let recipeInstructions = instructionsInput.value.split("\n")

      let slug = recipeName.toLowerCase().replaceAll(" ", "-")
      let ingredients = []
      recipeComponents.forEach(ingredient => {
        ingredients.push({"name": ingredient})
      });

      data = {
        name: recipeName,
        ingredients: ingredients,
        instructions: recipeInstructions,
        slug: slug
      }

      fetch('/api/recipes', {
        method: "POST",
        body: JSON.stringify(data),
        headers: {"Content-type": "application/json; charset=UTF-8"}
      })
      .then(response => response.json()) 
      .then(json => {
        console.log(json)
        window.location = "/"
      })
      .catch(err => console.log(err));

    };

    function editModal(i) {
      let receta = recetas[i];
      let modal = new bootstrap.Modal(document.getElementById('editModal'))
      modal.show();

      document.getElementById("editNameInput").value = receta.name
      document.getElementById("editComponentsInput").value = ""
      document.getElementById("editInstructionsInput").value = ""

      receta.ingredients.forEach(ingredient => {
        document.getElementById("editComponentsInput").value += ingredient.name + '\n'
      });

      receta.instructions.forEach(instruction => {
        document.getElementById("editInstructionsInput").value += instruction + '\n'
      });

      document.getElementById("editButton").onclick = function(){
        editRecipe(receta._id)
      }
    }

    function editRecipe(id) {
      let editNameInput = document.getElementById("editNameInput")
      let recipeName = editNameInput.value

      let editComponentsInput = document.getElementById("editComponentsInput")
      let recipeComponents = editComponentsInput.value.split("\n")

      let editInstructionsInput = document.getElementById("editInstructionsInput")
      let recipeInstructions = editInstructionsInput.value.split("\n")
      let instructions = []
      recipeInstructions.forEach(instruction => {
        if(instruction != "")
          instructions.push(instruction)
      })

      let ingredients = []
      recipeComponents.forEach(ingredient => {
        if(ingredient != "")
          ingredients.push({"name": ingredient})
      });

      data = {
        name: recipeName,
        ingredients: ingredients,
        instructions: instructions
      }

      let url = "/api/v2/recipes/" + id
      fetch(url, {
        method: "PUT",
        body: JSON.stringify(data),
        headers: {"Content-type": "application/json; charset=UTF-8"}
      })
      .then(response => response.json()) 
      .then(json => {
        console.log(json)
        window.location = "/"
      })
      .catch(err => console.log(err));
    }

    function deleteModal(i) {
      let receta = recetas[i];
      let modal = new bootstrap.Modal(document.getElementById('deleteModal'))
      modal.show();

      document.getElementById("deleteRecipeName").innerHTML = receta.name
      document.getElementById("deleteButton").onclick = function(){
        deleteRecipe(receta._id)
      }
    }

    function deleteRecipe(id){
      let url = "/api/v2/recipes/" + id
      fetch(url, {
        method: "DELETE",
        headers: {"Content-type": "application/json; charset=UTF-8"}
      })
      .then(response => response.json()) 
      .then(json => {
        window.location = "/"
      })
      .catch(err => console.log(err));
    }

    function searchRecipe() {
      let searchInput = document.getElementById("searchInput")
      let searchedRecipe = searchInput.value
      let url = '/api/recipes'

      if(searchedRecipe != '')
        url = '/recetas_de/' + searchedRecipe

      setRecipes(url)
    }

  </script>   
{% endblock %}