{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-outline btn-sm m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop-newRecipe">
      Add Recipe
    </button>

    <table class="table table-sm" id="recipesTable">
      <thead>
        <tr>
          <th>N</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="tbody">
      </tbody>
    </table>
  </div>

  {% include 'newModal.html' %}

  {% include 'editModal.html' %}

  {% include 'deleteModal.html' %}

  <div class="modal fade" id="modalDetail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" id="modalDetailContent">
        <div class="modal-header">
          <h4 class="modal-title" id="modalTitle"></h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5>Ingredients</h5>
            <ul id="ingredients"></ul>
            <h5>Instructions</h5>
            <div id="instructions"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
  <script>
    const recetas = []              // declaraciones   
    let html_str  = ''              // de variables
    let i         = 0               //
    // fetch devuelve una promise
    fetch('/api/recipes')           // GET por defecto,
    .then(res => res.json())        // respuesta en json, otra promise
    .then(filas => {                // arrow function
        filas.forEach(fila => {     // bucle ES6, arrow function
            i++
            recetas.push(fila)      // se guardan para después sacar cada una             
            // ES6 templates
            html_str += `<tr>
                          <td>${i}</td>
                          <td>
                              <span onclick="detalle(${i-1})" type="button"
                                    data-bs-toggle="modal" data-bs-target="#detailModal">
                              ${fila.name}
                          </span>
                    </td>
                    <td>
                    <button type="button" class="btn btn-warning btn-sm" onclick="editModal(${i-1})">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm" onclick="deleteModal(${i-1})">Delete</button>
                    </td>
                    </tr>`         // ES6 templates
        });
        document.getElementById('tbody').innerHTML=html_str  // se pone el html en su sitio
    })

    function detalle(i) { 
      var modal = new bootstrap.Modal(document.getElementById('modalDetail'))
      modal.show();

      var receta = recetas[i];
      document.getElementById('modalTitle').innerHTML = receta.name;
        
      document.getElementById('ingredients').innerHTML = ""

      receta.ingredients.forEach(ingredient => {
        var li = document.createElement("li");
        li.appendChild(document.createTextNode(ingredient.name));

        document.getElementById('ingredients').append(li);
      })
      
      document.getElementById('instructions').innerHTML = ""

      receta.instructions.forEach(instruction => {
        var p = document.createElement("p");
        p.innerHTML = "- " + instruction;
        document.getElementById('instructions').append(p);
      })
    }

    function saveRecipe(){
      var nameInput = document.getElementById("nameInput")
      var recipeName = nameInput.value

      var componentsInput = document.getElementById("componentsInput")
      var recipeComponents = componentsInput.value.split("\n")

      var instructionsInput = document.getElementById("instructionsInput")
      var recipeInstructions = instructionsInput.value.split("\n")

      var slug = recipeName.toLowerCase().replaceAll(" ", "-")
      var ingredients = []
      recipeComponents.forEach(ingredient => {
        ingredients.push({"name": ingredient})
      });

      data = {
        name: recipeName,
        ingredients: ingredients,
        instructions: recipeInstructions,
        slug: slug
      }

      fetch('/api/recipes', {
        method: "POST",
        body: JSON.stringify(data),
        headers: {"Content-type": "application/json; charset=UTF-8"}
      })
      .then(response => response.json()) 
      .then(json => {
        console.log(json)
        window.location = "/"
      })
      .catch(err => console.log(err));

    };

    function editModal(i) {
      var receta = recetas[i];
      var modal = new bootstrap.Modal(document.getElementById('editModal'))
      modal.show();

      document.getElementById("editNameInput").value = receta.name
      document.getElementById("editComponentsInput").value = ""
      document.getElementById("editInstructionsInput").value = ""

      receta.ingredients.forEach(ingredient => {
        document.getElementById("editComponentsInput").value += ingredient.name + '\n'
      });

      receta.instructions.forEach(instruction => {
        document.getElementById("editInstructionsInput").value += instruction + '\n'
      });

      document.getElementById("editButton").onclick = function(){
        editRecipe(receta._id)
      }
    }

    function editRecipe(id) {
      var editNameInput = document.getElementById("editNameInput")
      var recipeName = editNameInput.value

      var editComponentsInput = document.getElementById("editComponentsInput")
      var recipeComponents = editComponentsInput.value.split("\n")

      var editInstructionsInput = document.getElementById("editInstructionsInput")
      var recipeInstructions = editInstructionsInput.value.split("\n")

      var ingredients = []
      recipeComponents.forEach(ingredient => {
        if(ingredient != "")
          ingredients.push({"name": ingredient})
      });

      data = {
        name: recipeName,
        ingredients: ingredients,
        instructions: recipeInstructions
      }

      var url = "/api/v2/recipes/" + id
      fetch(url, {
        method: "PUT",
        body: JSON.stringify(data),
        headers: {"Content-type": "application/json; charset=UTF-8"}
      })
      .then(response => response.json()) 
      .then(json => {
        console.log(json)
        window.location = "/"
      })
      .catch(err => console.log(err));
    }

    function deleteModal(i) {
      var receta = recetas[i];
      var modal = new bootstrap.Modal(document.getElementById('deleteModal'))
      modal.show();

      document.getElementById("deleteRecipeName").innerHTML = receta.name
      document.getElementById("deleteButton").onclick = function(){
        deleteRecipe(receta._id)
      }
    }

    function deleteRecipe(id){
      var url = "/api/v2/recipes/" + id
      fetch(url, {
        method: "DELETE",
        headers: {"Content-type": "application/json; charset=UTF-8"}
      })
      .then(response => response.json()) 
      .then(json => {
        window.location = "/"
      })
      .catch(err => console.log(err));
    }

  </script>   
{% endblock %}