{% extends 'base.html' %}

{% block content %}
    <div class="container">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>N</th>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
      </table>
    </div>
    <div id="modales">
    </div>
{% endblock %}

{% block script %}
  <script>
      const recetas = []              // declaraciones   
      let html_str  = ''              // de variables
      let i         = 0
      var ids = []

      function generateIngredients(ingredients){
        str = `<h4>Ingredientes</h4>
                  <ul>`
        ingredients.forEach(ingredient => {
          str += `<li>${ingredient.name}</li>`
        });

        str += `</ul>`

        return str
      }

      function generateInstructions(instructions){
        str = ''
        instructions.forEach(instruction => {
          str += `<p>- ${instruction}</p>`
        });
        return str
      }

      function pushModal(i, fila) {  // saca un modal con la información de cada coctel
        let str = `<div class="modal fade" id="staticBackdrop-${i}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">${fila.name}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          </div>
                          <div class="modal-body">`

        str += generateIngredients(fila.ingredients)
        str += generateInstructions(fila.instructions)
        
        str += `</div>
              </div>
            </div>
          </div>`
        
        div = document.getElementById('modales')
        div.innerHTML += str
      }

    // fetch devuelve una promise
    fetch('/api/recipes')           // GET por defecto,
    .then(res => res.json())        // respuesta en json, otra promise
    .then(filas => {                // arrow function
        filas.forEach(fila => {     // bucle ES6, arrow function
            i++
            recetas.push(fila)      // se guardan para después sacar cada una             
            html_str += `<tr>
                          <td>${i}</td>
                          <td>
                            <button type="button" class="btn btn-outline btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop-${i}" >
                              ${fila.name}
                            </button>
                          </td>
                          <td>
                            <button type="button" class="btn btn-warning btn-sm">Edit</button>
                            <button type="button" class="btn btn-danger btn-sm">Delete</button>
                          </td>
                        </tr>`         // ES6 templates
            pushModal(i, fila)
        });
        document.getElementById('tbody').innerHTML=html_str  // se pone el html en su sitio
    })
    
  </script>
{% endblock %}