<div class="modal fade" id="staticBackdrop-newRecipe" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="newModalContent">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Recipe</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nameInput">Name</label>
                        <input type="text" class="form-control" id="nameInput" aria-describedby="nameHelp">
                        <small id="nameHelp" class="form-text text-muted">A name for the recipe.</small>
                    </div>
                    <div class="form-group">
                        <label for="componentsInput">Components</label>
                        <textarea class="form-control" id="componentsInput"
                            aria-describedby="componentsHelp"></textarea>
                        <small id="componentsHelp" class="form-text text-muted">The components recipe, in lines</small>
                    </div>
                    <div class="form-group">
                        <label for="instructionsInput">Instructions</label>
                        <textarea class="form-control" id="instructionsInput"
                            aria-describedby="instructionsHelp"></textarea>
                        <small id="instructionsHelp" class="form-text text-muted">The instructions, in lines</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="saveRecipe()">Save changes</button>
            </div>
        </div>
    </div>
</div>