{% extends 'base.html' %}

{% block contenido %}
    <h1 class="mt-5">Resultados de búsqueda</h1>
    <table class="table mt-5">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Preparación</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            {% for receta in recetas %}
                <tr>
                    <td><a href={% url 'detalle' receta.id %}>{{ receta.nombre }}</a></td>
                    <td>{{ receta.preparacion }}</td>
                    <td>
                        <button type="button" class="btn btn-secondary me-2">
                          <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button type="button" class="btn btn-danger me-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop-{{receta.id}}" >
                          <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>

                 <!-- Modal borrar -->
                 <div class="modal fade" id="staticBackdrop-{{receta.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel">¿Estás seguro de eliminar la receta: {{receta.nombre}}?</h1>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                          <a href="{% url 'recetas_delete' receta.id %}" class="btn btn-danger">Eliminar</a>
                        </div>
                      </div>
                    </div>
                  </div>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-sm-center">
        <a class="m-auto" href="{% url 'add_receta' %}">
          <button type="button" class="btn btn-primary">Añadir receta</button>
        </a>
    </div>

{% endblock contenido %}

